.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.profile1{
  border: 5px solid red;
  width: auto;
  height: auto;
  margin-left: 42%;
  margin-right: 40%;
}
.img{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-left: 25px;
 
}
.nam{
  font-size: 30px;
  color: blue;
  margin-left: 25px;

}
.loca{
  color: green;
  margin-left: 25px;
  
}
.loca1{
  font-weight: bold;
  font-size: 18px;
  margin-left: 25px;
  margin-top: -13px;

}
.Blood{
  color: green;
  margin-left: 25px;
}
.Blood1{
  font-weight: bold;
  font-size: 18px;
  margin-left: 25px;
  margin-top: -13px;
}
.Ag{
  color: green;
  margin-left: 25px;
}
.Ag1{
  font-weight: bold;
  font-size: 18px;
  margin-left: 25px;
  margin-top: -13px;
}